<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="rest" value="https://api.gnavi.co.jp/RestSearchAPI/20150630/"/>
    <add key="foreign" value="https://api.gnavi.co.jp/ForeignRestSearchAPI/20150630/"/>
    <add key="photo" value="https://api.gnavi.co.jp/PhotoSearchAPI/20150630/"/>
    <add key="area" value="https://api.gnavi.co.jp/master/AreaSearchAPI/20150630/"/>
    <add key="prefurl" value="https://api.gnavi.co.jp/master/PrefSearchAPI/20150630/"/>
    <add key="areal" value="https://api.gnavi.co.jp/master/GAreaLargeSearchAPI/20150630/"/>
    <add key="aream" value="https://api.gnavi.co.jp/master/GAreaMiddleSearchAPI/20150630/"/>
    <add key="areas" value="https://api.gnavi.co.jp/master/GAreaSmallSearchAPI/20150630/"/>
    <add key="categoryl" value="https://api.gnavi.co.jp/master/CategoryLargeSearchAPI/20150630/"/>
    <add key="categorys" value="https://api.gnavi.co.jp/master/CategorySmallSearchAPI/20150630/"/>
  </appSettings>
</configuration>